@using ATuSalud.ViewData
@model List<SqlQuery_12ViewData>
@{
    ViewData["Title"] = "Index";
}

<h3>Listado de citas de un día de un profesional seleccionado.</h3>

<form asp-action="Index">
    <div class="row">
        <div class="col-1">
            Profesional:
        </div>
        <div class="col-4">
            <select name="idProfesional" class="form-control" asp-items="ViewBag.Profesional">
                <option value="0">Todos</option>
            </select>
        </div>
        <div class="col-1">
            Fecha:
        </div>
        <div class="col-4">
            <input type="date" name="fecha" value="ViewBag.Fecha"/>
        </div>
        <div class="col-2">
            <input type="submit" class="btn btn-dark" value="Consultar" />
        </div>
    </div>
</form>
<hr />
@if (Model != null)
{
    <table class="table table-striped">
        <thead class="bg-info text-light">
            <tr>
                <th>Id</th>
                <th>Fecha atencion</th>
                <th>Nombre profesional</th>
            </tr>
        </thead>
        @foreach (SqlQuery_12ViewData item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.fecha_atencion</td>
                <td>@item.nombreProfesional</td>
            </tr>
        }
    </table>
}
