@model ATuSalud.Models.TablaPatologias

@{
    ViewData["Title"] = "Create";
}


<h4>Tabla Patologias</h4>
<hr />

<form asp-action="Create">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-lg-4 col-12">
            <label> Descripcion</label>
            <input asp-for="Descripcion" class="form-control" />
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label>Paciente</label>
            <input asp-for="TablaPacienteId" class="form-control" />
            <span asp-validation-for="TablaPacienteId" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label>Codigo CIAP</label>
            <input asp-for="TablaCodigoCIAPId" class="form-control" />
            <span asp-validation-for="TablaCodigoCIAPId" class="text-danger"></span>
        </div>
        <div class="form-group col-12 col-md-3">
            <input type="submit" value="Añadir" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
