@model ATuSalud.Models.TablaPatologias

@{
    ViewData["Title"] = "Delete";
}

<h3>¿Quieres eliminar esta patologia?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Descripción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            Id Paciente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacienteID)
        </dd>
        <dt class = "col-sm-2">
            Código CIAP
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TablaCodigoCIAPId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
