@model ATuSalud.Models.TablaDatosFisicos

@{
    ViewData["Title"] = "Create";
}


<h4>Datos físicos del paciente</h4>
<hr />
<form asp-action="Create">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group col-xs-12 col-lg-4">
            <label>Paciente</label>
            <select asp-for="PacienteId" class="form-control" asp-items="ViewBag.PacienteID"></select>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Peso</label>
            <input asp-for="Peso" class="form-control" />
            <span asp-validation-for="Peso" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Altura</label>
            <input asp-for="Altura" class="form-control" />
            <span asp-validation-for="Altura" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Alergias</label>
            <input asp-for="Alergias" class="form-control" />
            <span asp-validation-for="Alergias" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-md-3">
            <label>Grupo sanguineo</label>
            <select asp-for="Grupo_sanguineo" class="input form-control col-md-4">
                <option>A+</option>
                <option>A-</option>
                <option>B+</option>
                <option>B-</option>
                <option>AB+</option>
                <option>AB-</option>
                <option>O+</option>
                <option>O-</option>
            </select>
            <span asp-validation-for="Grupo_sanguineo" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-2">
            <label class="form-check-label">
                @Html.DisplayNameFor(model => model.Fumador)<input class="form-check-input ml-2" asp-for="Fumador" />
            </label>
        </div>
        <div class="form-group col-xs-12 col-lg-2">
            <label class="form-check-label">
                @Html.DisplayNameFor(model => model.Drogas)<input class="form-check-input ml-2" asp-for="Drogas" />

            </label>
        </div>
    </div>
        <div class="row">
            <div class="form-group col-3">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </div>
    
    
</form>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<div class="row">
    <div class="col-12">


    </div>

</div>