@model ATuSalud.Models.TablaReservaEspacios

@{
    ViewData["Title"] = "Edit";
}



<h4>Reservar Espacio</h4>
<hr />
<form asp-action="Edit">
    <div class="row">


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group  col-lg-6 col-12">
            <label>ID del Profesional</label>
            <select asp-for="ProfesionalId" class="form-control" asp-items="ViewBag.ProfesionalId"></select>
            <span asp-validation-for="ProfesionalId" class="text-danger"></span>
        </div>
        <div class="form-group  col-lg-6 col-12">
            <label asp-for="Espacio" class="control-label"></label>
            <input asp-for="Espacio" class="form-control" />
            <span asp-validation-for="Espacio" class="text-danger"></span>
        </div>
        <div class="form-group  col-lg-6 col-12">
            <label>Fecha de Inicio</label>
            <input asp-for="FechaInicio" class="form-control" />
            <span asp-validation-for="FechaInicio" class="text-danger"></span>
        </div>
        <div class="form-group  col-lg-6 col-12">
            <label>Fecha de Final</label>
            <input asp-for="FechaFin" class="form-control" />
            <span asp-validation-for="FechaFin" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </div>
</form>
  


<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
