@model ATuSalud.Models.TablaRecetas

@{
    ViewData["Title"] = "Create";
}

<h4>Tabla Recetas</h4>
<hr />

<form asp-action="Create">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-lg-4 col-12">
            <label>Diagnostico</label>
            <input asp-for="Diagnostico" class="form-control" />
            <span asp-validation-for="Diagnostico" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label>Medicamento Generico</label>
            <input asp-for="Medicamento_generico" class="form-control" />
            <span asp-validation-for="Medicamento_generico" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label>Cantidad</label>
            <input asp-for="Cantidad" class="form-control" />
            <span asp-validation-for="Cantidad" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label>Dosis</label>
            <input asp-for="Dosis" class="form-control" />
            <span asp-validation-for="Dosis" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label>Duracion</label>
            <input asp-for="Duracion" class="form-control" />
            <span asp-validation-for="Duracion" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label>Fecha</label>
            <input asp-for="Fecha" class="form-control" />
            <span asp-validation-for="Fecha" class="text-danger"></span>
        </div>
        <div class="form-group col-12 col-md-3">
            <input type="submit" value="Añadir" class="btn btn-primary" />
        </div>
    </div>
</form>

   

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
