@model ATuSalud.Models.TablaRecetas

@{
    ViewData["Title"] = "Edit";
}


<h4>Receta</h4>
<hr />

<form asp-action="Edit">
    <div class="row">
        <div class="form-group col-lg-4 col-12">
            <label>Nombre del episodio</label>
            <select asp-for="EpisodioID" class="form-control" asp-items="ViewBag.EpisodioID"></select>
            <span asp-validation-for="EpisodioID" class="text-danger"></span>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group col-lg-4 col-12">
            <label>Diagnostico</label>
            <input asp-for="Diagnostico" class="form-control" />
            <span asp-validation-for="Diagnostico" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label>Medicamento</label>
            <select asp-for="MedicamentoID" class="form-control" asp-items="ViewBag.MedicamentoID"></select>
            <span asp-validation-for="MedicamentoID" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label>Cantidad</label>
            <input asp-for="Cantidad" class="form-control" />
            <span asp-validation-for="Cantidad" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label>Dosis</label>
            <input asp-for="Dosis" class="form-control" />
            <span asp-validation-for="Dosis" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label>Duracion</label>
            <input asp-for="Duracion" class="form-control" />
            <span asp-validation-for="Duracion" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label>Fecha</label>
            <input asp-for="Fecha" class="form-control" />
            <span asp-validation-for="Fecha" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label>Nombre del paciente</label>
            <select asp-for="PacienteID" class="form-control" asp-items="ViewBag.PacienteID"></select>
            <span asp-validation-for="PacienteID" class="text-danger"></span>
        </div>
        <div class="form-group col-12 col-md-3">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
