
@{
    ViewData["Title"] = "Contacto";
}

<section class="mbr-section form1 cid-qv5ApHdm7c mbr-parallax-background" id="form1-2w" data-rv-view="9851">
    <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(189, 224, 235);">
    </div>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xs-12" style="text-align:center;">
                <i class="far fa-comment-alt fa-5x"></i><br /><br />
                <h3>Contáctanos</h3>
                <ul style="text-align:justify center; padding:30px; list-style:none;">
                    <li><strong>Whatsapp:</strong><a href="https://wa.me/34643564564"> 643564564</a></li>
                    <li><strong>Teléfono:</strong> 980345234</li>
                    <li><strong>Email:</strong><a href="mailto:info@atusalud.com"> info@atusalud.com</a></li>
                </ul>
            </div>
            <div class="col-lg-6 col-xs-12" style="text-align:center;">
                <i class="far fa-hospital fa-5x"></i><br /><br />
                <h3>Visita nuestra clínica</h3>
                <ul style="text-align:justify center; padding:30px; list-style:none;">
                    <li><a>C/ Majadero 36 4ºC</a></li>
                    <li><a>50006 Zaragoza</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h4 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">
                    <strong>Contáctanos</strong> rellenando este formulario.
                </h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                <div data-form-alert="" hidden="">
                    Thanks for filling out the form!
                </div>
                <form class="mbr-form" action="https://mobirise.com/" method="post" data-form-title="Mobirise Form">
                    <input type="hidden" data-form-email="true" value="AxfOGvwuump8yM5iqNpcFGuee84qDdGQwTFyCcty/niVpCifNg9AEz3cKQlaoEE0MWp/eXbnaFpNAFEy0pcQLM3NvxS2fY47xr3UGD+lL4eFstAciz6q0pL4O5jlRxGr">
                    <div class="row row-sm-offset">
                        <div class="col-md-4 multi-horizontal" data-for="name">
                            <div class="form-group">
                                <label class="form-control-label mbr-fonts-style display-7" for="name-form1-2w">Nombre</label>
                                <input type="text" class="form-control" name="name" data-form-field="Name" required="" id="name-form1-2w">
                            </div>
                        </div>
                        <div class="col-md-4 multi-horizontal" data-for="email">
                            <div class="form-group">
                                <label class="form-control-label mbr-fonts-style display-7" for="email-form1-2w">Email</label>
                                <input type="email" class="form-control" name="email" data-form-field="Email" required="" id="email-form1-2w">
                            </div>
                        </div>
                        <div class="col-md-4 multi-horizontal" data-for="phone">
                            <div class="form-group">
                                <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-2w">Teléfono</label>
                                <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="phone-form1-2w">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" data-for="message">
                        <label class="form-control-label mbr-fonts-style display-7" for="message-form1-2w">Mensaje</label>
                        <textarea type="text" class="form-control" name="message" rows="7" data-form-field="Message" id="message-form1-2w"></textarea>
                    </div>
                    <button href="" type="submit" class="btn btn-dark btn-form display-4">ENVIAR</button>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="b-example-divider"></div>
