@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://isanidad.com/wp-content/uploads/2019/03/Foundation-Medicine-Roche-1024x512.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://static3-sevilla.abc.es/media/andalucia/2021/01/20/s/coronavirus-hospital-paciente-kOHH--1024x512@abc.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://static3-sevilla.abc.es/media/andalucia/2020/06/12/s/telefono-sas-koDD--1024x512@abc.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>
<div class="container text-center">
    <br />
    <hr class="featurette-divider">
    <br />
    <div class="row featurette">
        <div class="col-xs-12 col-lg-6">
            <h2 class="featurette-heading"></h2>
            <p class="lead" style="text-align: justify;">Este centro hospitalario de ATUSalud cuenta con un excelente conjunto de instalaciones, tanto en lo que se refiere a los aspectos estructurales hospitalarios, como a los medios técnicos de cirugía, diagnóstico y tratamiento. Cabe destacar también el alto grado de cualificación profesional de sus facultativos y personal sanitario.</p>
        </div>
        <div class="col-xs-12 col-lg-6"><img src="http://trabajoparaenfermeras.com/wp-content/uploads/2019/12/1-2-1024x1024.jpg" width="100%"></div>
    </div>
    <br />
    <hr class="featurette-divider">
    <br />
    <div class="row featurette">
        <div class="col-xs-12 col-lg-6"><img src="https://diariodelamancha.com/wp-content/uploads/2018/01/cada-ano-mas-de-60-pacientes-con-obesidad-morbida-se-someten-a-una-cirugia-bariatrica-en-el-hospital-general-universitario-de-ciudad-real-1024x1024.jpg" width="100%"></div>
        <div class="col-xs-12 col-lg-6">
            <h2 class="featurette-heading"></h2>
            <p class="lead" style="text-align: justify;">Los mejores profesionales, la tecnología más avanzada, investigación, formación y un modelo común de gestión aseguran el compromiso del grupo por la calidad de nuestros servicios para todos los ciudadanos. ATUSalud cubre todas las especialidades médicas, y destaca, con reconocido prestigio, en el diagnóstico y tratamiento de patología cardiovascular y oncológica.</p>
        </div>
    </div>
    <br />
    <hr class="featurette-divider">
    <br />
</div>



      
 
