<hr />
<div class="row">
    <div class="col-10">Listado de profesionales ordenados por apellidos y nombre. </div>
    <a asp-controller="sqlquery_1" asp-action="Index" style="color: white;" class="btn btn-dark col-2">Listado 1</a>
</div>
<hr />
<div class="row">
    <div class="col-10">Listado de pacientes menores de edad ordenados por apellidos y nombre. Listado de las patologías ordenados por código.</div>
    <a asp-controller="sqlquery_2" asp-action="Index" style="color: white;" class="btn btn-dark col-2">Listado 2</a>
</div>
<hr />
<div class="row">
    <div class="col-10">Listado de las patologías ordenados por código.</div>
    <a asp-controller="sqlquery_3" asp-action="Index" style="color: white;" class="btn btn-dark col-2">Listado 3</a>
</div>
<hr />
<div class="row">
    <div class="col-10">Listado de cuantas citas diarias tiene de media cada profesional. </div>
    <a asp-controller="sqlquery_4" asp-action="Index" style="color: white;" class="btn btn-dark col-2">Listado 4</a>
</div>
<hr />
<div class="row">
    <div class="col-10">Listado de los medicamentos ordenados por nombre. </div>
    <a asp-controller="sqlquery_5" asp-action="Index" style="color: white;" class="btn btn-dark col-2">Listado 5</a>
</div>
<hr />
<div class="row">
    <div class="col-10">Listado de personas polimedicadas. (Han recibido más de 10 medicamentos en los últimos 2  años) </div>
    <a asp-controller="sqlquery_6" asp-action="Index" style="color: white;" class="btn btn-dark col-2">Listado 6</a>
</div>
<hr />
<div class="row">
    <div class="col-10">Listado de profesionales que tienen de media más de 5 episodios abiertos por paciente.  (Profesionales que no cierran episodios) </div>
    <a asp-controller="sqlquery_7" asp-action="Index" style="color: white;" class="btn btn-dark col-2">Listado 7</a>
</div>
<hr />
<div class="row">
    <div class="col-10">Listado de los antecedentes de un paciente seleccionado. </div>
    <a asp-controller="sqlquery_8" asp-action="Index" style="color: white;" class="btn btn-dark col-2">Listado 8</a>
</div>
<hr />
<div class="row">
    <div class="col-10">Listado de episodios (con patología) abiertos que tiene un paciente seleccionado.</div>
    <a asp-controller="sqlquery_9" asp-action="Index" style="color: white;" class="btn btn-dark col-2">Listado 9</a>
</div>
<hr />
<div class="row">
    <div class="col-10">Listado de recetas (con información del medicamento) que tiene un paciente seleccionado. </div>
    <a asp-controller="sqlquery_10" asp-action="Index" style="color: white;" class="btn btn-dark col-2">Listado 10</a>
</div>
<hr />
<div class="row">
    <div class="col-10">Listado de recetas realizadas por un profesional de un medicamento concreto ordenado por  fecha (incluir datos del paciente). </div>
    <a asp-controller="sqlquery_11" asp-action="Index" style="color: white;" class="btn btn-dark col-2">Listado 11</a>
</div>
<hr />
<div class="row">
    <div class="col-10">Listado de citas de un día de un profesional seleccionado. </div>
    <a asp-controller="sqlquery_12" asp-action="Index" style="color: white;" class="btn btn-dark col-2">Listado 12</a>
</div>
<hr />
<div class="row">
    <div class="col-10">Listado de citas de un paciente. </div>
    <a asp-controller="sqlquery_13" asp-action="Index" style="color: white;" class="btn btn-dark col-2">Listado 13</a>
</div>
<hr />
<div class="row">
    <div class="col-10">Listado de pacientes que no han asistido a la cita.  </div>
    <a asp-controller="sqlquery_15" asp-action="Index" style="color: white;" class="btn btn-dark col-2">Listado 15</a>
</div>
<hr />
<div class="row">
    <div class="col-10">Listado de pacientes que reciben medicamentos de manera crónica y que son incompatibles. </div>
    <a asp-controller="sqlquery_16" asp-action="Index" style="color: white;" class="btn btn-dark col-2">Listado 16</a>
</div>
<hr />
<div class="row">
    <div class="col-10">Listado de los centros de trabajo que tienen profesionales de una especialidad seleccionada. </div>
    <a asp-controller="sqlquery_17" asp-action="Index" style="color: white;" class="btn btn-dark col-2">Listado 17</a>
</div>
<hr />
<div class="row">
    <div class="col-10">Listado de los pacientes que tienen antecedentes de una patología relativa al CIAP relativo a la  psicología (CIAP empieza por P).  </div>
    <a asp-controller="sqlquery_18" asp-action="Index" style="color: white;" class="btn btn-dark col-2">Listado 18</a>
</div>
<hr />
<div class="row">
    <div class="col-10">Listado de los medicamentos que tienen efectos secundarios que pueden ser severos. (Respetar los datos que ya se disponen). </div>
    <a asp-controller="sqlquery_19" asp-action="Index" style="color: white;" class="btn btn-dark col-2">Listado 19</a>
</div>
<hr />
