
@{
    ViewData["Title"] = "Registro";
}

<div class="container">
    <hr>
    <div style="max-width: 600px" class="mx-auto">
        <article class="mx-auto">
            <h1 class="text-center" style="font-family: 'Lora', serif; ">Crea tu cuenta</h1>
            <p>
                <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
                <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
            </p>
            <form>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Nombre completo" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Correo eléctronico" type="email">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Número de teléfono" type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                    </div>
                    <select class="form-control">
                        <option selected="">Especialidad</option>
                        <option>Urología</option>
                        <option>Oncología</option>
                        <option selected>Medicina de familia</option>
                        <option>Ginecología</option>
                        <option>Endocrinología</option>
                        <option>Dermalogía</option>
                        <option>Cirujia</option>
                        <option>Cardiología</option>
                        <option>Anestesiología</option>
                        <option>Alergiología</option>
                    </select>
                </div> <!-- form-group end.// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Crear contraseña" type="password">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Confirme la contraseña" type="password">
                </div> <!-- form-group// -->
                <br />
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Crear cuenta</button>
                </div> <!-- form-group// -->
            </form>
        </article>
    </div> <!-- card.// -->

</div>
<!--container end.//-->
