@model ATuSalud.Models.TablaMedicamentos

@{
    ViewData["Title"] = "Create";
}


<h4>Tabla Medicamentos</h4>
<hr />

<form asp-action="Create">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-lg-4 col-12">
            <label> Nombre Medicamento</label>
            <input asp-for="Nombre_medicamento" class="form-control" />
            <span asp-validation-for="Nombre_medicamento" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label>Forma Farmaceutica</label>
            <input asp-for="Forma_farmaceutica" class="form-control" />
            <span asp-validation-for="Forma_farmaceutica" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label>Efectos Secundarios</label>
            <input asp-for="Efectos_secundarios" class="form-control" />
            <span asp-validation-for="Efectos_secundarios" class="text-danger"></span>
        </div>
        <div class="form-group col-12 col-md-3">
            <input type="submit" value="Añadir" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
