@using ATuSalud.ViewData
@model List<SqlQuery_11ViewData>
@{
    ViewData["Title"] = "Index";
}

<h3>Listado de recetas realizadas por un profesional de un medicamento concreto ordenado por fecha (incluir datos del paciente)</h3>
<form asp-action="Index" method="get">
    <div class="row">
        <div class="col-1">
            Profesional:
        </div>
        <div class="col-4">
            <select name="id" class="form-control"
                    asp-items="ViewBag.Profesional">
                <option value="null">Todos</option>
            </select>
        </div>
    </div>
    <input type="submit" value="Consultar"
           class="btn btn-primary" />

</form>
<hr />


@if (Model != null)
{
    <table class="table table-striped">
        <thead class="bg-info text-light">
            <tr>
                <th>Paciente </th>
                <th>Profesional</th>
                <th>Medicamento</th>
            </tr>
        </thead>
        @foreach (SqlQuery_11ViewData item in Model)
        {
    <tr>
        <td>@item.NombrePaciente</td>
        <td>@item.NombreProfesional</td>
        <td>@item.Nombre_medicamento</td>
    </tr>
        }
    </table>
}
