@model ATuSalud.Models.TablaProfesional

@{
    ViewData["Title"] = "Create";
}

<h4>Añadir Profesional</h4>
<hr />

<form asp-action="Create" enctype="multipart/form-data">
        @Html.EditorForModel()
        <div class="form-group col-12 col-md-3">
            <input type="submit" value="Create" class="btn btn-dark" />
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
