@using ATuSalud.ViewData
@model List<SqlQuery_4ViewData>
@{
    ViewData["Title"] = "Index";
}

<h3>Listado de cuantas citas diarias tiene de media cada profesional</h3>

@if (Model != null)
{
    <table class="table table-striped">
        <thead class="bg-info text-light">
            <tr>
                <th>Nombre del profesional</th>
                <th>Media de citas </th>
            </tr>
        </thead>
        @foreach (SqlQuery_4ViewData item in Model)
        {
    <tr>

        <td>@item.nombre @item.apellido1 @item.apellido2</td>
        <td>@item.media</td>

    </tr>
        }
    </table>
}