@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index">
    <div class="row">
        <div class="col-1">
            Año:
        </div>
        <div class="col-4">
            <select name="Anyo" id="Anyo" onchange="refrescarListados()" class="form-control" asp-items="ViewBag.Anyo">
                <option>(Todos)</option>
            </select><br />
        </div>
        <div class="col-1">
            CIAP:
        </div>
        <div class="col-4">
            <select name="CodigoCIAPId" id="CIAP" onchange="refrescarListados()" class="form-control" asp-items="ViewBag.CodigosCIAP">
                <option>(Todos)</option>
            </select>
        </div>
    </div>
</form>
<hr />

<div class="row">
    <div class="col-6" id="panel1">Listado 1</div>
    <div class="col-6" id="panel2">Listado 2</div>
</div>
<div class="row">
    <div class="col-6" id="panel3">Listado 3</div>
    <div class="col-6" id="panel4">Listado 4</div>
</div>

@section Scripts{
    <script>
        function refrescarListado1() {
            $.ajax({
                url: '/DashBoardAjax2/Listado1',
                data: {
                    CodigoCIAPId: $("#CIAP").val(),
                    Anyo: $("#Anyo").val()
                },
                success: function (htmlPartial) {
                    $('#panel1').html(htmlPartial);
                }
            })
        }

        function refrescarListado2() {
            $.ajax({
                url: '/DashBoardAjax2/Listado2',
                data: {
                    CodigoCIAPId: $("#CIAP").val(),
                    Anyo: $("#Anyo").val()
                },
                success: function (htmlPartial) {
                    $('#panel2').html(htmlPartial);
                }
            })
        }

        function refrescarListado3() {
            $.ajax({
                url: '/DashBoardAjax2/Listado3',
                data: {
                    CodigoCIAPId: $("#CIAP").val(),
                    Anyo: $("#Anyo").val()
                },
                success: function (htmlPartial) {
                    $('#panel3').html(htmlPartial);
                }
            })
        }

        function refrescarListado4() {
            $.ajax({
                url: '/DashBoardAjax2/Listado4',
                data: {
                    CodigoCIAPId: $("#CIAP").val(),
                    Anyo: $("#Anyo").val()
                },
                success: function (htmlPartial) {
                    $('#panel4').html(htmlPartial);
                }
            })
        }

        function refrescarListados() {
            refrescarListado1();
            refrescarListado2();
            refrescarListado3();
            refrescarListado4();
        }

        $(document).ready(function () {
            refrescarListado1();
            refrescarListado2();
            refrescarListado3();
            refrescarListado4();
        })
    </script>
}

