@using ATuSalud.ViewData
@model List<Dashboard2Listado1>
@{
    ViewData["Title"] = "Listado1";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Mes
            </th>
            <th>
                Numero de pacientes
            </th>
        </tr>
    </thead>
    @foreach (Dashboard2Listado1 row in Model)
    {
        <tbody>
            <tr>
                <td>
                    @row.mes
                </td>
                <td>
                    @row.pacientes
                </td>
            </tr>
        </tbody>
    }
</table>

