@using ATuSalud.ViewData
@model List<Dashboard2Listado4>
@{
    ViewData["Title"] = "Listado4";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Paciente
            </th>
            <th>
                Fecha de la receta
            </th>
        </tr>
    </thead>
    @foreach (Dashboard2Listado4 row in Model)
    {
        <tbody>
            <tr>
                <td>
                    @row.paciente
                </td>
                <td>
                    @row.fecha
                </td>
            </tr>
        </tbody>
    }
</table>

