@model ATuSalud.Models.TablaPaciente

@{
    ViewData["Title"] = "Create";
}


<h4>Añadir pacientes</h4>
<hr />

<form asp-action="Create">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Nombre</label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Primer apellido</label>
            <input asp-for="Apellido1" class="form-control" />
            <span asp-validation-for="Apellido1" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Segundo apellido</label>
            <input asp-for="Apellido2" class="form-control" />
            <span asp-validation-for="Apellido2" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Fecha de nacimiento</label>
            <input asp-for="Fecha_de_nacimiento" class="form-control" />
            <span asp-validation-for="Fecha_de_nacimiento" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>DNI</label>
            <input asp-for="DNI" class="form-control" />
            <span asp-validation-for="DNI" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Direccion postal</label>
            <input asp-for="Direccion_postal" class="form-control" />
            <span asp-validation-for="Direccion_postal" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Telefono fijo</label>
            <input asp-for="telefono_fijo" class="form-control" />
            <span asp-validation-for="telefono_fijo" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Telefono movil 1</label>
            <input asp-for="telefono_movil_1" class="form-control" />
            <span asp-validation-for="telefono_movil_1" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Telefono movil 2</label>
            <input asp-for="telefono_movil_2" class="form-control" />
            <span asp-validation-for="telefono_movil_2" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Sexo</label>
            <select asp-for="Sexo" class="input form-control col-md-5">
                <option value="H">Masculino</option>
                <option value="M">Femenino</option>
                <option value="O">Otro</option>
            </select>
        </div>
        <div class="form-group col-lg-2">
            <label class="form-check-label">
                Seguro privado<input type="checkbox" class="form-check-input ml-2" asp-for="Seguro_privado" />
            </label>
        </div>
      
    </div>
    <div>
        <div class="form-group">
            <input type="submit" value="Crear" class="btn btn-primary" />
        </div>
    </div>


</form>


<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
