@model ATuSalud.Models.TablaPaciente

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar pacientes</h1>

<hr />
<form asp-action="Edit">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group col-xs-12 col-lg-4">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label asp-for="Apellido1" class="control-label"></label>
            <input asp-for="Apellido1" class="form-control" />
            <span asp-validation-for="Apellido1" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Apellido 2</label>
            <input asp-for="Apellido2" class="form-control" />
            <span asp-validation-for="Apellido2" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Fecha de nacimiento</label>
            <input asp-for="Fecha_de_nacimiento" class="form-control" />
            <span asp-validation-for="Fecha_de_nacimiento" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>DNI</label>
            <input asp-for="DNI" class="form-control" />
            <span asp-validation-for="DNI" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Direccion postal</label>
            <input asp-for="Direccion_postal" class="form-control" />
            <span asp-validation-for="Direccion_postal" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Telefono fijo</label>
            <input asp-for="telefono_fijo" class="form-control" />
            <span asp-validation-for="telefono_fijo" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Telefono movil 1</label>
            <input asp-for="telefono_movil_1" class="form-control" />
            <span asp-validation-for="telefono_movil_1" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Telefono movil 2</label>
            <input asp-for="telefono_movil_2" class="form-control" />
            <span asp-validation-for="telefono_movil_2" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Sexo</label>
            <input asp-for="Sexo" class="form-control" />
            <span asp-validation-for="Sexo" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input md-4" asp-for="Seguro_privado" /> @Html.DisplayNameFor(model => model.Seguro_privado)
            </label>
        </div>
    </div>     
</form>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
