@model ATuSalud.Models.TablaEspacios

@{
    ViewData["Title"] = "Create";
}



<h4>Espacios</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div class="row">


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group form-group col-lg-4 col-12">
            <label >ID de la Reserva</label>
            <select asp-for="ReservaID" class="form-control" asp-items="ViewBag.ReservaID"></select>
        </div>
        <div class="form-group form-group col-lg-4 col-12">
            <label>Ubicación</label>
            <input asp-for="EspacioGeneral" class="form-control" />
            <span asp-validation-for="EspacioGeneral" class="text-danger"></span>
        </div>
        <div class="form-group form-group col-lg-4 col-12">
            <label>Mobiliario</label>
            <input asp-for="Mobiliario" class="form-control" />
            <span asp-validation-for="Mobiliario" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Crear" class="btn btn-primary" />
        </div>

    </div>
</form>


<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
