@model ATuSalud.Models.TablaEspacios

@{
    ViewData["Title"] = "Edit";
}



<h4>Tabla de Espacios</h4>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="row">


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group col-lg-4 col-12">
            <label>ID de la reserva</label>
            <select asp-for="ReservaID" class="form-control" asp-items="ViewBag.ReservaID"></select>
            <span asp-validation-for="ReservaID" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label>Ubicación</label>
            <input asp-for="EspacioGeneral" class="form-control" />
            <span asp-validation-for="EspacioGeneral" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label>Mobiliario</label>
            <input asp-for="Mobiliario" class="form-control" />
            <span asp-validation-for="Mobiliario" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </div>
</form>
  


<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
