@using ATuSalud.ViewData
@model List<SqlQuery_9ViewData>
@{
    ViewData["Title"] = "Index";
}

<h3>Episodios abiertos de un paciente</h3>
<form asp-action="Index" method="get">
    <div class="row">
        <div class="col-4">
            <select name="id" class="form-control"
                    asp-items="ViewBag.Paciente">
                <option value="null">Todos</option>
            </select>
        </div>
    </div>
    <input type="submit" value="Consultar"
           class="btn btn-primary" />

</form>
@if (Model != null)
{
    <table class="table table-striped">
        <thead class="bg-info text-light">
            <tr>
                <th>Nombre</th>
                <th>Episodio</th>
            </tr>
        </thead>
        @foreach (SqlQuery_9ViewData item in Model)
        {
    <tr>
        <td>@item.nombre @item.apellido1 @item.apellido2</td>
        <td>@item.Episodio</td>
    </tr>
        }
    </table>
}