@model ATuSalud.Models.TablaCitasPaciente

@{
    ViewData["Title"] = "Edit";
}


<h4>Editar cita</h4>
<hr />
<form asp-action="Edit">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group col-xs-12 col-lg-4">
            <label>Paciente</label>
            <select asp-for="TablaPaciente" class="form-control" asp-items="ViewBag.Paciente"></select>
            <span asp-validation-for="TablaPaciente" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Profesional</label>
            <select asp-for="TablaProfesional" class="form-control" asp-items="ViewBag.Profesional"></select>
            <span asp-validation-for="TablaProfesional" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Observaciones</label>
            <input asp-for="Observaciones" class="form-control" />
            <span asp-validation-for="Observaciones" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Fecha de atención</label>
            <input asp-for="Fecha_atencion" class="form-control" />
            <span asp-validation-for="Fecha_atencion" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Fecha de finalización</label>
            <input asp-for="Fecha_acabar" class="form-control" />
            <span asp-validation-for="Fecha_acabar" class="text-danger"></span>
        </div>
        <div class="form-group col-xs-12 col-lg-4">
            <label>Fecha de registro</label>
            <input asp-for="Fecha_registro" class="form-control" />
            <span asp-validation-for="Fecha_registro" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
