@model ATuSalud.Models.TablaEpisodios

@{
    ViewData["Title"] = "Create";
}


<h4>Nuevo episodio</h4>
<hr />
<form asp-action="Create">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-lg-4 col-12">
            <label>Nombre del paciente</label>
            <select asp-for="PacienteId" class="form-control" asp-items="ViewBag.PacienteID"></select>
        </div>
        <div class="form-group col-lg-4 col-12">
            <div>Fecha inicio</div>
            <input asp-for="FechaInicio" class="form-control" />
            <span asp-validation-for="FechaInicio" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <div>Fecha final</div>
            <input asp-for="FechaFinal" class="form-control" />
            <span asp-validation-for="FechaFinal" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label asp-for="Motivo" class="control-label"></label>
            <input asp-for="Motivo" class="form-control" />
            <span asp-validation-for="Motivo" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label asp-for="Causa" class="control-label"></label>
            <input asp-for="Causa" class="form-control" />
            <span asp-validation-for="Causa" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label asp-for="Medicación" class="control-label"></label>
            <input asp-for="Medicación" class="form-control" />
            <span asp-validation-for="Medicación" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <input type="submit" value="Crear" class="btn btn-primary" />
        </div>

    </div>
</form>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
