@model ATuSalud.Models.TablaEpisodios

@{
    ViewData["Title"] = "Edit";
}

<h4>Editar episodios</h4>
<hr />
<form asp-action="Edit">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group col-lg-4 col-12">
            <label>Nombre del paciente</label>
            <select asp-for="PacienteId" class="form-control" asp-items="ViewBag.PacienteID"></select>
            <span asp-validation-for="PacienteId" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label>Nombre del episodio</label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label>Fecha de inicio</label>
            <input asp-for="FechaInicio" class="form-control" />
            <span asp-validation-for="FechaInicio" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label>Fecha de finalización</label>
            <input asp-for="FechaFinal" class="form-control" />
            <span asp-validation-for="FechaFinal" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-12">
            <label>Enfermedad</label>
            <select asp-for="CodigoId" class="form-control" asp-items="ViewBag.CodigoId"></select>
            <span asp-validation-for="CodigoId" class="text-danger"></span>
        </div>


        <div class="form-group col-lg-4 col-12">
            <label asp-for="Causa" class="control-label"></label>
            <input asp-for="Causa" class="form-control" />
            <span asp-validation-for="Causa" class="text-danger"></span>
        </div>

        <div class="form-group col-3">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
