<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="~/img/favicon.png">
    <title>@ViewData["Title"] - ATuSalud</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>
<body>
    <!--Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Iniciar sesion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-controller="home" asp-action="index"><img src="/img/logo.png" width="300px" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administracion
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="TablaAntecedentes" asp-action="index">Antecedentes</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaCitasPacientes" asp-action="index">Citas Pacientes</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaDatosFisicos" asp-action="index">Datos Fisicos</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaEpisodios" asp-action="index">Episodios</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaEspacios" asp-action="index">Espacios</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaMedicamentos" asp-action="index">Medicamentos</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaPacientes" asp-action="index">Pacientes</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaPatologias" asp-action="index">Patologias</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaProfesional" asp-action="index">Profesional</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaProfesional_Paciente" asp-action="index">Profesional Paciente</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaRecetas" asp-action="index">Recetas</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaReservaEspacios" asp-action="index">Reserva de Espacios</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="home" asp-action="contacto">Contacto</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="btn btn-secondary" asp-controller="home" asp-action="contacto">Registrarse</a>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Iniciar sesion
                        </button>
                    </li>
                </ul>       
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        @RenderBody()
        <br />
    </main>
    <footer class="border-top footer text-muted">
        <div class="row" style="background-color: #81BFFE; text-align: center;">
            <div class="col-md-4 col-xs-12">
                <br />
                <h2><strong>Contáctanos</strong></h2>
                <ul style="text-align:justify center; padding:30px; list-style:none;">
                    <li><strong>Whatsapp:</strong> <a href="https://wa.me/34643564564">643564564</a></li>
                    <li><strong>Teléfono:</strong> 980345234</li>
                    <li><strong>Email:</strong> <a href="mailto:info@atusalud.com">info@atusalud.com</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-xs-12">
                <br />
                <h2><strong>Visita nuestra clínica</strong></h2>
                <ul style="text-align:justify center; padding:30px; list-style:none;">
                    <li><a>C/ Majadero 36 4ºC</a></li>
                    <li><a>50006 Zaragoza</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-xs-12">
                <br />
                <img src="/img/logo.png" width="50%" />
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>
</body>
</html>
