<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="~/img/favicon.png">
    <title>@ViewData["Title"] - ATuSalud</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-controller="home" asp-action="index"><img src="/img/logo.png" width="300px" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administracion
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="TablaAntecedentes" asp-action="index">TablaAntecedentes</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaCitasPacientes" asp-action="index">TablaCitasPacientes</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaDatosFisicos" asp-action="index">TablaDatosFisicos</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaEpisodios" asp-action="index">TablaEpisodios</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaEspacios" asp-action="index">TablaEspacios</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaMedicamentos" asp-action="index">TablaMedicamentos</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaPacientes" asp-action="index">TablaPacientes</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaPatologias" asp-action="index">TablaPatologias</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaProfesional" asp-action="index">TablaProfesional</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaProfesional_Paciente" asp-action="index">TablaProfesional_Paciente</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaRecetas" asp-action="index">TablaRecetas</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="TablaReservaEspacios" asp-action="index">TablaReservaEspacios</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="home" asp-action="contacto">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
            <div class="row p-10" style="background-color: #81BFFE; text-align: center;">
                <div class="col-md-4 col-xs-12">
                    <br />
                    <h2><strong>Contáctanos</strong></h2>
                    <ul style="text-align:justify center; padding:30px; list-style:none;">
                        <li><strong>Whatsapp:</strong><a href="https://wa.me/34643564564"> 643564564</a></li>
                        <li><strong>Teléfono:</strong> 980345234</li>
                        <li><strong>Email:</strong><a href="mailto:info@atusalud.com"> info@atusalud.com</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-12">
                    <br />
                    <h2><strong>Visita nuestra clínica</strong></h2>
                    <ul style="text-align:justify center; padding:30px; list-style:none;">
                        <li><a>C/ Majadero 36 4ºC</a></li>
                        <li><a>50006 Zaragoza</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-12">
                    <br />
                    <img src="/img/logo.png" width="75%" />
                </div>
            </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
